# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.venv/

# Node.js / Frontend
node_modules/
.next/
out/
dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
*.log
docker-compose.override.yml

# Base de données
*.sqlite3

# Jupyter Notebooks
.ipynb_checkpoints/

# Tests et couverture
coverage/
htmlcov/
.pytest_cache/

# Environnements virtuels
.venv/
env/
.env.prod
# Certificats et clés
*.pem
*.key

# Fichiers de build frontend
.next/cache/
out/