DEBUG=True
SECRET_KEY="6m1uvlnx#-mko)y^%5w4o@tr09kysuswyrjg5z4-4y^uh+p#9-"
VAPID_PUBLIC_KEY=BHR3U3x0h9gRRZCiU_g2V35vdpTBrIc2oLp_Wi3CHNvV2erFFbwcFBbU413qowaVubDHjrhNft97ndX8dxBN2Tw
VAPID_PRIVATE_KEY=MIGHAgEAMBMGByqGSM49AgEGCCqGSM49AwEHBG0wawIBAQQgdNEaHhmM-DdJSe6IDEr7XoAOdN3JBNXRHhAoviQP-DmhRANCAAR0d1N8dIfYEUWQolP4Nld-b3aUwayHNqC6f1otwhzb1dnqxRW8HBQW1ONd6qMGlbmwx464TX7fe53V_HcQTdk8
VAPID_CLAIMS_EMAIL=tresornaguermbaye@gmail.com
